<div class='header-row row mx-0'>
  <h1 class='main-header text-center py-1'><%= pluralize(@events.flatten.count, 'entry', plural: 'entries') %> for review</h1>
</div>

<div>
  <% @events.each do |events| %>
    <div class='event-container col-12 col-md-10 offset-md-1 mt-5'>
      <h2 class='events-date-header my-2 py-2'>
        <%= events.first.parsed_start_month_string %> <%= events.first.parsed_start_year %>
      </h2>
    <% events.each do |event| %>
      <hr class='event-separator py-0 my-0 mx-0 px-0'>
      <div id='<%= event['id'] %>' class='event-name-row row py-0 my-0'>
        <p class='col'><%= event.parsed_start_date %></p>
        <p class='col-4'><strong><%= event.parsed_name %></strong></p>
        <p class='col-4'><%= event.parsed_location %></p>
        <p class='col time-zone'><i><%= event.parsed_start_hour %> <%= event.parsed_time_zone%></i></p>
        <%= button_to 'Accept', { action: 'update', id: event.id }, { class: 'btn btn-success', method: 'put' } %>
        <%= button_to 'Reject', { action: 'destroy', id: event.id }, { class: 'btn btn-danger', method: 'delete' } %>
      </div>
      <div id='<%= event['id'] %>' class='event-summary collapsible'>
        <%= link_to image_tag(event.parsed_image_url), event.parsed_url %>
        <p><%= event.parsed_description %></p>
        <p><%= event.parsed_contact %></p>
      </div>
    <% end %>
    </div>
  <% end %>
  <br>
  <br>
</div>

<script>
var coll = document.getElementsByClassName('event-name-row');
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener('click', function() {
    this.classList.toggle('active');
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + 'px';
    }
  });
}
</script>